{{! Header/footer social media links}}
<a class="button-square" href="{{@blog.url}}/rss"><i class="fa fa-rss"></i></a>
<a class="button-square" href="https://github.com/gmcgibbon"><i class="fa fa-github"></i></a>
<a class="button-square" href="https://www.linkedin.com/in/gannonmcgibbon"><i class="fa fa-linkedin"></i></a>
